html {
    font-size: 16px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/********************************************* Main ************************************************/

.content {
    /* width: 664px; */
    height: 817px;
    margin: auto;
    background-color: #595959;
    margin: 139px 309px;
    border: 1px solid white;
    box-sizing: content-box;
}

/******************************** Header ***************************************/
#top-bar {
    background-color: #ff4500;
    height: 68px;
    border: 1px;
    top: 139px;
    border: 1px solid white;
}
h1 {
    font-size: 1.8rem;
    margin-left: 30px;
    padding-top: 20px;
    color: white;
    
}

/*************************************** seção 1 ****************************************/
.section1 {
    width: 677px;
    height: 88px;
    margin: 10px 0px 0px 25px;
}

.section1 input {
    width: 671px;
    height: 62px;
    border: 2px solid #ff4500;
    font-weight: bolder;
    border-radius: 0px;
}

/*************************************** botão editar ********************************/
.button-edit {
    padding: 5px 8px;
    margin-left: 574px;
    background-color: #F6A75D;
    border: none;
   
}

.div_space {
    display: inline-block;
    width: 100px;
}

/**************************************** botão excluir *******************************/
.button-excluir {
    
    padding: 5px 6px;
    margin-top: -100px;
    margin-left: 525px;
    background-color: #F65D5D;
    border: none;
}


/************************************* Form ******************************************/

.form {
    width: 609px;
    height: 170px;
    background-color: #ff4500;
    margin-top: 468px;
    margin-left: 50px;
    display: inline-flex;
    border: 1px solid white;

}

/**************************** area do texto ******************************************/

.text_area {
    width: 490px;
    height: 140px;
    margin: 12px 0px 0px 12px;
    border: 1px solid black;
}

.bnt_enviar:hover {
    background-color: black;
    color: white;
}

/***************************************** botão enviar ********************************/

.bnt_enviar {
    display: inline-block;
    width: 79px;
    height: 36px;
    margin: 10px 1px 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    color: antiquewhite;
    background-color: #ff4500;
}